{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Admin Panal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'admin_css/login_page.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Admin panal</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="post">
					{% csrf_token %}
					<input style="margin-bottom: 10px;" class="text" type="text" name="username" placeholder="Username" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<input type="submit" value="SIGNUP">
				</form>
				{% for msg in messages %}
                <p style="margin-top:-15px;color: red;font-size:large;margin-left: 1px;font-weight: 600;margin-bottom: 5px;">{{msg}}</p>
                {% endfor %}
				<p>Don't have an Account? <a href="{% url 'login' %}"> Login Now!</a></p>
			</div>
		</div>
	</div>
	<!-- //main -->
</body>
</html>