{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'log_css/home_page.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="main">
        {% if username %}
        <p style="color: whitesmoke;font-size: larger;font-weight: 700;">WELCOME {{username|upper}}</p>
        {% endif %}
        <div class="header">
            <a href="logout"><button class="button">Logout</button></a>
        </div>
    </div>
</body>
</html>